﻿
@model TrackQuality.ViewModels.UserRoleModel

@{
    ViewData["Title"] = "EditRolePers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center titre">Modification Rôle d'un utilisateur</h1>

<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <form asp-action="EditRolePers" class="card bg-light shadow border-0 p-4 my-4 text-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.applicationUser.Id" />
                <label asp-for="@Model.applicationUser.Email">@Model.applicationUser.Email</label>
            </div>
            <div class="form-group">
                @for (int i = 0; i < Model.ApplicationRoles.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.ApplicationRoles[i].Value" />
                    <input class="ml-3" asp-for="@Model.ApplicationRoles[i].Selected" />@Model.ApplicationRoles[i].Text
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-info mx-auto d-block" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="text-center mt-5">
    <a class="btn btn-info" asp-action="ListPers">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
