﻿@model IEnumerable<TrackQuality.ViewModels.IndexUserRoleModel>

@{
    ViewData["Title"] = "ListPersonnes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center titre">LISTE DES UTILISATEURS</h1>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-info-circle"></i>
    </button><small>Rôles</small>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">LISTE DES ROLES</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table table-bordered mx-auto my-5">
                        <thead>
                            <tr class="bg-info text-white">
                                <th class="text-center">
                                    Nom
                                </th>


                            </tr>
                        </thead>
                        <tbody class="bg-light">
                            @for (int i = 0; i < @ViewBag.Role.Length; i++)
                            {
                                <tr>
                                    <td class="text-center">
                                        @ViewBag.Role[i]
                                       </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table table-bordered my-5">
        <thead>
            <tr class="bg-info text-white">
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Role)
                </th>

                <th class="text-center">
                    Editer
                </th>                
                <th class="text-center">
                    Supprimer
                </th>



            </tr>
        </thead>
        <tbody class="bg-light">
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td class="text-center">
                    <a asp-action="EditRolePers" asp-route-id="@item.Id"><img src="~/img/edit-regular.svg" width="25" /></a>
                </td>
                @if (item.Role.ToString() == "Admin")
                {
                    <td class="text-center">
                    </td>
                }
                else
                {
                    <td class="text-center">
                        <a asp-action="DeletePers" asp-route-id="@item.Id"><img src="~/img/trash-alt-solid.svg" width="20" /></a>
                    </td>
                }
            </tr>

            }
        </tbody>
    </table>
</div>
