﻿@using Microsoft.AspNetCore.Identity
@using TrackQuality.Areas.Identity.Data

@inject SignInManager<ApplicationAuthUser> SignInManager
@inject UserManager<ApplicationAuthUser> UserManager

<ul class="navbar-nav ml-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link text-info btn btn-outline-secondary px-1 px-md-3 mx-1 mx-md-2">Déconnexion</button>
        </form>
    </li>
    }
else
{
    <li class="nav-item">
        <a class="nav-link text-info btn btn-outline-secondary px-1 px-md-3 mx-1 mx-md-2" id="register" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info btn btn-outline-secondary px-1 px-md-3 mx-1 mx-md-2" id="login" asp-area="Identity" asp-page="/Account/Login">Connexion</a>
    </li>
}
</ul>
