﻿@model TrackQuality.Models.AnalyseNC

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4 class="text-center my-4">ANALYSE DE LA NON-CONFORMITE </h4>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info">
            <div class="card-header">
                <h4 class="card-title">N° Non Conformite:<span class="ml-4 text-bold"> @ViewBag.NumeroNC</span> </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
                </div>
                <div class="card-body" style="display:block;">
                    <div class="d-flex flex-column flex-md-row justify-content-between">

                        <div>
                            <table>
                                <tr>
                                    <th scope="row" class="p-2">
                                        Référence:
                                    </th>
                                    <td class="p-2">
                                        @ViewBag.Produit
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="p-2">
                                        Numéro de série:
                                    </th>
                                    <td class="p-2">
                                        @ViewBag.NumeroSerie
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="p-2">
                                        Quantité:
                                    </th>
                                    <td class="p-2">
                                        @ViewBag.Quantite
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="p-2">
                                        Description:
                                    </th>
                                    <td class="p-2">
                                        @ViewBag.DescriptionNC
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="p-2">
                                        Ouverte par
                                        </th>
                                    <td class="p-2">
                                        @ViewBag.Nom @ViewBag.Prenom
                                        </td>
                                </tr>
                                <tr>

                                    <th scope="row" class="p-2">
                                        Date
                                        </th>
                                    <td class="p-2">
                                        @ViewBag.DateNC

                                        </td>
                                </tr>  
</table>
                        </div>
                        <div>
                            <table>
                                <tr class="text-left">
                                    <th scope="row">
                                        Photo:
                                    </th>
                                    <td>
                                        <img src="~/images/@ViewBag.Photo" width="300" />
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>

            </div>
    </div>
    <div class="col-md-2"></div>
</div>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
        <form asp-action="Create" class="card card-info bg-light shadow border-0 mb-4">
            <div class="card-header">
                <h4 class="text-bold text-center">ANALYSE DE LA NON-CONFORMITE</h4>
            </div>
            <div class="card-body p-2 p-md-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MainDOeuvre" class="control-label"></label>
                    <button type="button" class="btn popovers" data-container="body" data-toggle="popover" data-placement="right" data-content="les ressources humaines, les qualifications du personnel...">
                        <i class="fas fa-info-circle"></i>
                    </button>
                    <textarea asp-for="MainDOeuvre" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="MainDOeuvre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Milieu" class="control-label"></label>
                    <button type="button" class="btn popovers" data-container="body" data-toggle="popover" data-placement="right" data-content="Le lieu de travail, son aspect, son organisation physique…">
                        <i class="fas fa-info-circle"></i>
                    </button>
                    <textarea asp-for="Milieu" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Milieu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Matiere" class="control-label"></label>
                    <button type="button" class="btn popovers" data-container="body" data-toggle="popover" data-placement="right" data-content="Les différents consommables utilisés, matières premières…">
                        <i class="fas fa-info-circle"></i>
                    </button>
                    <textarea asp-for="Matiere" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Matiere" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Methode" class="control-label"></label>
                    <button type="button" class="btn popovers" data-container="body" data-toggle="popover" data-placement="right" data-content="Les procédures, le flux d’information…">
                        <i class="fas fa-info-circle"></i>
                    </button>
                    <textarea asp-for="Methode" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Methode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Materiel" class="control-label"></label>
                    <button type="button" class="btn popovers" data-container="body" data-toggle="popover" data-placement="right" data-content="Les équipements, machines, outillages, pièces de rechange…">
                        <i class="fas fa-info-circle"></i>
                    </button>
                    <textarea asp-for="Materiel" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Materiel" class="text-danger"></span>
                </div>
                <div class="form-group mb-4 text-center">
                    <div class="col-4 m-auto d-block">
                        <label asp-for="ImputationId" class="control-label text-right"></label>
                        <select asp-for="ImputationId" class="form-control" asp-items="ViewBag.ImputationId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="VALIDER" class="btn btn-info mx-auto d-block" />
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer text-center ">
                    <div>
                        @if (User.IsInRole("Qualité"))
                        {
                            <a class="btn btn-info" asp-controller="NonConformites" asp-action="Index">Retour à la liste</a>
                        }
                        else if (User.IsInRole("Opérateur"))
                        {
                            <a class="btn btn-info" asp-controller="NonConformites" asp-action="IndexUser">Retour à la liste</a>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}