﻿@model TrackQuality.Models.AnalyseNC

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info">
            <div class="card-header">
                <h4 class="card-title">N° Non Conformite:<span class="ml-4 text-bold"> @ViewBag.NumeroNC</span> </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body" style="display:block;">

                <div class="d-flex flex-column flex-md-row justify-content-between">

                    <div>
                        <table>
                            <tr>
                                <th scope="row" class="p-2">
                                    Référence:
                                </th>
                                <td class="p-2">
                                    @ViewBag.Produit
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Numéro de série:
                                </th>
                                <td class="p-2">
                                    @ViewBag.NumeroSerie
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Quantité:
                                </th>
                                <td class="p-2">
                                    @ViewBag.Quantite
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Description:
                                </th>
                                <td class="p-2">
                                    @ViewBag.DescriptionNC
                                </td>
                            <tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Ouverte par
                                </th>
                                <td class="p-2">
                                    @ViewBag.Nom @ViewBag.Prenom
                                </td>
                            </tr>
                            <tr>

                                <th scope="row" class="p-2">
                                    Date
                                </th>
                                <td class="p-2">
                                    @ViewBag.DateNC

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="">
                        <table>
                            <tr class="text-left">
                                <th scope="row">
                                    Photo:
                                </th>
                                <td>
                                    <img src="~/images/@ViewBag.Photo" width="300" />
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info">
            <div class="card-header">
                <h4 class="card-title">Analyse </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body" style="display:block;">
                <div class="d-flex flex-row justify-content-start">

                    <table>

                        <tr>
                            <th scope="row" class="p-2">
                                @Html.DisplayNameFor(model => model.MainDOeuvre)
                            </th>
                            <td class="p-2">
                                @Html.DisplayFor(model => model.MainDOeuvre)
                            </td>
                        </tr>


                        <tr>
                            <th scope="row" class="p-2">
                                @Html.DisplayNameFor(model => model.Milieu)
                            </th>
                            <td class="p-2">
                                @Html.DisplayFor(model => model.Milieu)
                            </td>
                        </tr>


                        <tr>
                            <th scope="row" class="p-2">
                                @Html.DisplayNameFor(model => model.Matiere)
                            </th>
                            <td class="p-2">
                                @Html.DisplayFor(model => model.Matiere)
                            </td>
                        </tr>


                        <tr>
                            <th scope="row" class="p-2">
                                @Html.DisplayNameFor(model => model.Methode)
                            </th>
                            <td class="p-2">
                                @Html.DisplayFor(model => model.Methode)
                            </td>
                        </tr>


                        <tr>
                            <th scope="row" class="p-2">
                                @Html.DisplayNameFor(model => model.Materiel)
                            </th>
                            <td class="p-2">
                                @Html.DisplayFor(model => model.Materiel)
                            </td>
                        </tr>


                        <tr>
                            <th scope="row">
                                @Html.DisplayNameFor(model => model.Imputation)
                            </th>
                            <td class="p-2">
                                @Html.DisplayFor(model => model.Imputation.ImputationNC)
                            </td>
                        </tr>

                    </table>
                </div>
                </div>

                <div class="card-footer text-center ">
                    <div>
                        @if (User.IsInRole("Qualité"))
                        {
                            <a class="btn btn-info" asp-controller="NonConformites" asp-action="Index">Retour à la liste</a>
                        }
                        else if (User.IsInRole("Opérateur"))
                        {
                            <a class="btn btn-info" asp-controller="NonConformites" asp-action="IndexUser">Retour à la liste</a>
                        }
                    </div>
                </div>
            </div>
        </div>
                <div class="col-md-2"></div>
            </div>

