﻿@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h4 class="text-center">Modifier votre compte utilisateur.</h4>
                <hr />
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
     </div>      
       
    </section>

            @section Scripts {
                @RenderSection("Scripts", required: false)
            }
