﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 card bg-light shadow border-0 p-4">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Nom"></label>
                <input asp-for="Input.Nom" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Prenom"></label>
                <input asp-for="Input.Prenom" class="form-control" />
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-info mx-auto d-block">Enregistrer</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}