﻿
            <!-- Main content -->
            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-warning"> 404</h2>

                    <div class="error-content">
                        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! La page n'a pas été trouvé.</h3>

                        <p>
                            Nous n'arrivons pas à trouver la page que vous demandez.
                            Vous pouvez retourner à <a asp-controller="home" asp-action="Index"> la page d'accueil</a>.
                        </p>

                    </div>
                    <!-- /.error-content -->
                </div>
                <!-- /.error-page -->
            </section>
            <!-- /.content -->
       
        