﻿@{
    ViewData["Title"] = "Home Page";
}

<section class="col-12 col-md-10 mx-auto mt-5 d-block ">
    <h1 class="text-center my-4 py-2 bg-light shadow-sm titre">Indicateurs qualité année 2021</h1>           

<div class="container-fluid">



    <div class="d-flex flex-column flex-md-row justify-content-around my-4">


        <div class="info-box mx-md-2 my-md-4">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-calculator"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Total NC</span>
                <span class="info-box-number">
                    @ViewBag.TotalNC
                </span>
            </div>
        </div>

        <div class="info-box mx-md-2 my-md-4">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-box"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Nombre de produits NC</span>
                <span class="info-box-number">
                    @ViewBag.NbProduitsNC
                </span>
            </div>
        </div>

        <div class="info-box mx-md-2 my-md-4">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-euro-sign"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Coût Total</span>
                <span class="info-box-number">
                    @ViewBag.CoutNC €
                </span>
            </div>
        </div>

        <div class="info-box mx-md-2 my-md-4">
            <span class="info-box-icon bg-gradient-warning elevation-1"><i class="fas fa-exclamation-triangle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Top Produit NC</span>
                <span class="info-box-number">
                    @ViewBag.TopProduitNC
                </span>
            </div>
        </div>

        <div class="info-box mx-md-2 my-md-4">
            <span class="info-box-icon bg-gradient-warning elevation-1"><i class="fas fa-exclamation-triangle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Top Responsabilité</span>
                <span class="info-box-number">
                    @ViewBag.TopResponsabiliteNC
                </span>
            </div>
        </div>

        <div class="info-box mx-md-2 my-md-4">
            <span class="info-box-icon bg-gradient-danger elevation-1"><i class="fas fa-trash"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Quantité Rébuté</span>
                <span class="info-box-number">
                    @ViewBag.NbProduitRebute
                </span>
            </div>
        </div>


    </div>

    <div class="d-flex flex-column flex-md-row mb-5 chartAnimate barAnum">

        <div class="col-12 col-md-6">
            <!-- LINE CHART -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title text-center">Nombre de non-conformités par mois</h3>
                </div>

                <div class="card-body">
                    <div class="chart">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class="">

                                </div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class="">
                                </div>
                            </div>
                        </div>
                        <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 604px;" width="604" height="250" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>


        <div class="col-12 col-md-3">
            <!-- DONUT CHART -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Produits</h3>
                </div>
                <div class="card-body">
                    <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class="">
                            </div>
                        </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                        </div>
                    </div>
                    <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 604px;" width="604" height="250" class="chartjs-render-monitor"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-12 col-md-3">
            <!-- PIE CHART -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Responsabilités</h3>
                </div>
                <div class="card-body">
                    <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                        </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class="">
                            </div>
                        </div>
                    </div>
                    <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 604px;" width="604" height="250" class="chartjs-render-monitor"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>



    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
</section>


