﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accès refusé";
}

<header class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Vous n'avez pas accés à cette page.</p>
</header>
