﻿@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmation du changement d'email";
}

<section class="container">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</section>