﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmation de votre email";
}
@* Page servant à indiquer que le mail a bien été validé *@
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-12">
        <div class="card card-success m-4 text-center">
            <div class="card-header ">
                <h3 class="text-center">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <h4> Merci de vous être inscrit sur TrackQuality</h4>
                <div><i class="fas fa-chart-bar" style="font-size: 5em"></i></div>
                <p>
                   Votre compte a été créé avec succès.<br/>
                    Merci d'attendre que l'admin vous donne un droit d'accès.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-info my-2" asp-controller="Home" asp-action="Index">Accueil</a>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>