﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mot de passe oublié?";
}

@*Formulaire pour le changement de mot de passe avec comme identifiant l'adresse mail*@
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
                <form method="post" class="card bg-light shadow border-0 p-4 mb-4">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-info mx-auto">Valider</button>
                </form>
            </div>
        </div>


        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
