﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mot de Passe oublié";
}

@* Page d'avertissement lors d'une demande de changement de mot de passe *@
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-12">
        <div class="card card-info m-4 text-center">
            <div class="card-header ">
                <h3 class="text-center">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">                
                <div><i class="fas fa-chart-bar" style="font-size: 5em"></i></div>
                <p>
                    Merci de consulter votre boîte mail pour modifier votre mot de passe.
                </p>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>