﻿@page
@model LoginModel



@{
    ViewData["Title"] = "identification";
}

@* Page de connexion *@
<section>
    <h1 class="text-center">CONNEXION</h1>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 card border-light bg-light shadow mb-4 cardAnimate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <img src="~/img/user-solid.png" class="icon-user img-fluid w-25 mx-auto d-block my-3" /><br />
            <form id="account" method="post">
                <div class="form-group">

                    <label asp-for="Input.Email" class="ml-2"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="ml-2"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="ml-2">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div class="form-group">
                        <p class="text-center">
                            <a id="forgot-password" class="text-info" asp-page="./ForgotPassword">Mot de passe oublié?</a>
                        </p>
                    </div>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info mx-auto d-block">Valider</button>
                </div>

            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
