﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'Email";
}

@* Page d'information afin d'indiquer à l'utilisateur la récpetion d'un mail pour la validation d'email *@
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-12">
        <div class="card card-info m-4 text-center">
            <div class="card-header ">                
                    <h3 class="text-center">@ViewData["Title"]</h3>               
            </div>
            <div class="card-body">
                <h4> Merci de vous être inscrit sur TrackQuality</h4>
                <div><i class="fas fa-chart-bar" style="font-size: 5em"></i></div>
                <p>
                    Merci de consulter votre boîte mail pour valider votre compte.
                </p>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>
