﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "INSCRIPTION";
}

<h1 class="text-center">@ViewData["Title"]</h1>
@* Formulaire d'enregistrement de compte *@
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="card bg-light shadow border-0 p-4 mb-4">
            <img src="~/img/user-solid.png" class="icon-user img-fluid mx-auto d-block my-3" width="50"/><br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Nom" class="ml-2"></label>
                <input asp-for="Input.Nom" class="form-control" />
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Prenom" class="ml-2"></label>
                <input asp-for="Input.Prenom" class="form-control" />
                <span asp-validation-for="Input.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="ml-2"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="ml-2"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="ml-2"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-info align-self-center ">Enregistrer</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
