﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de modification de mot de passe";
}

@* PAge indicant que le mot de passe a été modifié avec succès en cas d'oublie par l'utilisateur *@
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-12">
        <div class="card card-success m-4 text-center">
            <div class="card-header ">
                <h4 class="text-center">@ViewData["Title"]</h4>
            </div>
            <div class="card-body">               
                <div><i class="fas fa-chart-bar" style="font-size: 5em"></i></div>
                <p>
                    Votre mot de passe a été modifié avec succès.<br />
                   
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-info my-2" asp-page="./Login">Connexion</a>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>