﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Modifier votre mot de passe";
}

@* Formulaire de modification d'email *@
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-12">
        <div class="card card-info m-4">
            <div class="card-header">
                <div class="row">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body">

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-info m-auto d-block">Modifier</button>
                </form>
            </div>
        </div>
    </div>
    </div>
                    @section Scripts {
                        <partial name="_ValidationScriptsPartial" />
                    }
