﻿

@*<div class="row">*@
    @*<div class="col-md-2"></div>
    <div class="col-12 col-md-8 my-4">
        <div class="px-2">

            <div class="row justify-content-around">*@

                <div id="total" class="col-12 col-sm-6 col-md-2">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-calculator"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total</span>
                            <span class="info-box-number">
                                @ViewBag.NbNcTotal
                            </span>
                        </div>
                    </div>
                </div>

                <div id="aTraiter" class="col-12 col-sm-6 col-md-2">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-hourglass-start"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">A traiter</span>
                            <span class="info-box-number">
                                @ViewBag.NbNcATraiter
                            </span>
                        </div>
                    </div>
                </div>


                <div id="enCours" class="col-12 col-sm-6 col-md-2">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-spinner"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">En cours</span>
                            <span class="info-box-number">
                                @ViewBag.NbNcEnCours
                            </span>
                        </div>
                    </div>
                </div>

                <div id="fermer" class="col-12 col-sm-6 col-md-2">
                    <div class="info-box">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check-square"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Fermer</span>
                            <span class="info-box-number">
                                @ViewBag.NbNcFermer
                            </span>
                        </div>
                    </div>
                </div>


            @*</div>
            </div>
    </div>*@
    
@*</div>*@