﻿@model TrackQuality.ViewModels.AnalyseActionByNCViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center titre mt-4">ARCHIVE DES NON CONFORMITES</h1>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11 col-12">
        <table id="tab" class="table table-hover table-bordered mx-auto">
            <thead>
                <tr class="bg-info text-white">
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NonConformite.NumeroNC)
                    </th>
                    <th class="text-center smallmedia mediumMedia">
                        @Html.DisplayNameFor(model => model.NonConformite.ApplicationAuthUser.Prenom)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NonConformite.DateNC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NonConformite.Produit)
                    </th>
                    <th class="text-center smallmedia">
                        @Html.DisplayNameFor(model => model.NonConformite.NumeroSerie)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NonConformite.QuantiteProdNC)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ActionNC.Cloture)
                    </th>

                    <th class="text-center">
                        Voir
                    </th>

                </tr>
            </thead>
            <tbody class="bg-light">

                @foreach (var item in Model.NonConformites)
                {
                        @foreach (var archive in Model.ActionNCs)
                        {
                            @foreach (var analyse in Model.AnalyseNCs)
                                if (item.NonConformiteId == analyse.NonConformiteId && analyse.AnalyseId == archive.analyseNCId)
                                {
                                    <tr class=" @Html.DisplayFor(modelItem => item.EtatAction.Etat)">
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.NumeroNC)
                                        </td>
                                        <td class="text-center smallmedia mediumMedia">
                                            @Html.DisplayFor(modelItem => item.ApplicationAuthUser.Prenom)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DateNC)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Produit.Reference)
                                        </td>

                                        <td class="text-center smallmedia">
                                            @Html.DisplayFor(modelItem => item.NumeroSerie)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.QuantiteProdNC)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => archive.DateAction)
                                        </td>
                                        <td class="text-center">
                                            <a asp-action="Details" asp-controller="ActionNCs" asp-route-id="@archive.ActionId"><i class="fas fa-eye" style="color : #000000; font-size:2em"></i></a>
                                        </td>

                                            @Html.HiddenFor(modelItem => archive.Cloture)
      
                                    </tr>
                                    
                                }
                        }

                    }



            </tbody>
        </table>
    </div>
</div>