﻿@model TrackQuality.Models.NonConformite

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-md-3"></div>
    <div class="col-12 col-md-6">
        <form asp-action="Create" enctype="multipart/form-data" class="card-info bg-light shadow border-0 mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="NumeroNC" class="form-control" value="Undefined" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DateNC" class="form-control" value=@DateTime.Now />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="NumeroNCIncrement" class="form-control" value=0 />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="EtatActionId" class="form-control" value="Undefined" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ApplicationAuthUserId" class="form-control" value="Undefined" />
            </div>
            <div class="card-header">
                <h4 class="text-center">CREATION D'UNE NON-CONFORMITE</h4>
            </div>
            <div class="card-body px-4">
                <div class="form-group">
                    <label asp-for="Produit" class="control-label"></label>
                    <select asp-for="ProduitId" class="form-control" asp-items="ViewBag.ProduitId"></select>
                </div>
                <div class="d-flex flex-row justify-content-around">
                    <div class="form-group row mr-4">
                        <label class="col-3 col-form-label">SN</label>
                        <div class="col-9">
                            <input asp-for="NumeroSerie" class="form-control" />
                            <span asp-validation-for="NumeroSerie" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Qt.</label>
                        <div class="col-9">
                            <input asp-for="QuantiteProdNC" class="form-control" />
                            <span asp-validation-for="QuantiteProdNC" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionNC" class="control-label"></label>
                    <textarea asp-for="DescriptionNC" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="DescriptionNC" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="PhotoNC" for="exampleFormControlFile1" class="col-3 col-form-label text-right"></label>
                    <div class="col-9">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" asp-for="PhotoNC" value="~/images/noImage.jpg">

                        <span asp-validation-for="PhotoNC" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Valider" class="btn btn-info" />
                </div>
            </div>
            <div class="card-footer text-center">
                @if (User.IsInRole("Qualité"))
                {
                    <a class="btn btn-info my-2" asp-action="Index">Retour à la liste</a>
                }
                else if (User.IsInRole("Opérateur"))
                {
                    <a class="btn btn-info my-2" asp-action="IndexUser">Retour à la liste</a>
                }
                </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@*Script pour avoir le nom de la photo téléchargée*@
    <script type="text/javascript">        
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

    </script>
}