﻿@model TrackQuality.Models.NonConformite

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center titre">Supprimer</h1>

<h3 class="text-center text-danger">Etes-vous certain de vouloir supprimer le non-conformité n° @Html.DisplayFor(model => model.NumeroNC)?</h3>

<hr />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-12">
        <div class="card card-danger m-4">
            <div class="card-header">
                <div class="row">
                    <h4 class="card-title col-4">NonConformite: </h4>
                    <div class="text-bold col-4 text-left">@Html.DisplayFor(model => model.NumeroNC)</div>
                </div>
            </div>
            <div class="card-body">
                <dl>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Produit)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Produit.Reference)
                        </dd>
                    </div>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NumeroSerie)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NumeroSerie)
                        </dd>
                    </div>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.QuantiteProdNC)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.QuantiteProdNC)
                        </dd>
                    </div>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DescriptionNC)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DescriptionNC)
                        </dd>
                    </div>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PhotoNC)
                    </dt>
                    <dd class="col-sm-10">
                        <img class="mx-auto d-block" src="~/images/@Html.DisplayFor(model => model.PhotoNC)" width="300" />
                    </dd>
                </dl>
                <form asp-action="Delete" class="text-center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="NonConformiteId" />
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                </form>
            </div>
            <div class="card-footer text-center">
                <div>
                    @if (User.IsInRole("Qualité"))
                    {
                        <a class="btn btn-info my-2" asp-action="Index">Retour à la liste</a>
                    }
                    else if (User.IsInRole("Opérateur"))
                    {
                        <a class="btn btn-info my-2" asp-action="IndexUser">Retour à la liste</a>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

