﻿@model TrackQuality.Models.NonConformite

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-12">
        <div class="card card-info m-4">
            <div class="card-header">
                <div class="row">
                    <h4 class="card-title col-4">N° de Non-Conformite:</h4>
                    <div class="text-bold col-4 text-left">@Html.DisplayFor(model => model.NumeroNC)</div>
                </div>
            </div>
            <div class="card-body">
                <dl>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Produit)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Produit.Reference)
                        </dd>
                    </div>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NumeroSerie)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NumeroSerie)
                        </dd>
                    </div>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.QuantiteProdNC)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.QuantiteProdNC)
                        </dd>
                    </div>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DescriptionNC)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DescriptionNC)
                        </dd>
                    </div>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PhotoNC)
                    </dt>
                    <dd class="col-sm-10">
                        <img class="mx-auto d-block" src="~/images/@Html.DisplayFor(model => model.PhotoNC)" width="300" />
                    </dd>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            Ouverte par
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ApplicationAuthUser.Nom)
                            @Html.DisplayFor(model => model.ApplicationAuthUser.Prenom)
                        </dd>
                    </div>
                    <div class="d-flex flex-row">
                        <dt class="col-sm-2">
                            Date
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DateNC)
                            
                        </dd>
                    </div>
                </dl>
            </div>

            <div class="card-footer text-center">
                <div>
                    @if (User.IsInRole("Qualité"))
                    {
                        <a class="btn btn-info" asp-action="Index">Retour à la liste</a>
                    }
                    else if (User.IsInRole("Opérateur"))
                    {
                        <a class="btn btn-info" asp-action="IndexUser">Retour à la liste</a>
                    }
                </div>
            </div>

        </div>
    </div>
    </div>


