﻿@model TrackQuality.Models.NonConformite

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
       
        <form asp-action="Edit" enctype="multipart/form-data" class="card card-info bg-light shadow border-0 my-4">
            <input type="hidden" asp-for="NumeroNC" />
            <input type="hidden" asp-for="NonConformiteId" />
            <input type="hidden" asp-for="ApplicationAuthUserId" />
            <input type="hidden" asp-for="EtatActionId" />
            <input type="hidden" asp-for="DateNC" />
            <input type="hidden" asp-for="NumeroNC" class="form-control" value="Undefined" />
            <input type="hidden" asp-for="NumeroNCIncrement" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-header">
                <h4 class="text-center">Edition Non-Conformité @Model.NumeroNC</h4>
            </div>

            <div class="card-body p-5">
                <div class="form-group">
                    <label asp-for="Produit" class="control-label"></label>
                    <select asp-for="ProduitId" class="form-control" asp-items="ViewBag.ProduitId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroSerie" class="control-label"></label>
                    <input asp-for="NumeroSerie" class="form-control" />
                    <span asp-validation-for="NumeroSerie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionNC" class="control-label"></label>
                    <textarea asp-for="DescriptionNC" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="DescriptionNC" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuantiteProdNC" class="control-label"></label>
                    <input asp-for="QuantiteProdNC" class="form-control" />
                    <span asp-validation-for="QuantiteProdNC" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="PhotoNC" class="control-label"></label>
                        <div class="custom-file">
                            <input type="file" asp-for="PhotoNC" class="custom-file-input" id="customFile" value="~/images/noImage.jpg">
                            <label class="custom-file-label" for="customFile">Choisir une photo</label>
                        </div>
                        <span asp-validation-for="PhotoNC" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Valider" class="btn btn-info mx-auto d-block" />
                </div>
            </div>

            <div class="card-footer text-center">
                @if (User.IsInRole("Qualité"))
                {
                    <a class="btn btn-info my-2" asp-action="Index">Retour à la liste</a>
                }
                else if (User.IsInRole("Opérateur"))
                {
                    <a class="btn btn-info my-2" asp-action="IndexUser">Retour à la liste</a>
                }
            </div>

        </form>



    </div>
    <div class="col-md-3"></div>

</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">        
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

    </script>
}


