﻿@model TrackQuality.ViewModels.AnalyseActionByNCViewModel

@{
    ViewData["Title"] = "IndexUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center titre mt-4">LISTE DES NON CONFORMITES</h1>



<div class="row my-md-4">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-8 my-4">
        <div class="px-2">

            <div class="row justify-content-start">
                <partial name="_IndexSommeNc" />

                <div id="AddNCList" class="col-12 col-sm-6 col-md-2">
                    <a asp-action="Create">
                        <div class="info-box bg-info">

                            <span class="info-box-icon elevation-1">
                                <i class="fas fa-plus"></i>
                            </span>


                            <div class="info-box-content">
                                <span class="info-box-textr">
                                    Non-Conformité
                                </span>

                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-11">

        <table id="tab" class="table table-hover table-bordered">
            <thead>
                <tr class="bg-info text-white">
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NonConformite.NumeroNC)
                    </th>
                    <th class="text-center smallmedia mediumMedia">
                        @Html.DisplayNameFor(model => model.NonConformite.ApplicationAuthUser.Prenom)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NonConformite.DateNC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NonConformite.Produit)
                    </th>
                    <th class="text-center smallmedia">
                        @Html.DisplayNameFor(model => model.NonConformite.NumeroSerie)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NonConformite.QuantiteProdNC)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NonConformite.EtatAction)
                    </th>
                    <th class="text-center smallmedia">
                        Editer
                    </th>
                    <th class="text-center">
                        Voir
                    </th>
                    <th class="text-center smallmedia">
                        Supprimer
                    </th>

                </tr>
            </thead>
            <tbody class="bg-light">

                @foreach (var item in Model.NonConformites)
                {

                    @if (item.EtatActionId == "A traiter")
                    {
                        <tr class=" @Html.DisplayFor(modelItem => item.EtatAction.Etat)">
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.NumeroNC)
                            </td>
                            <td class="text-center smallmedia mediumMedia">
                                @Html.DisplayFor(modelItem => item.ApplicationAuthUser.Prenom)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.DateNC)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Produit.Reference)
                            </td>

                            <td class="text-center smallmedia">
                                @Html.DisplayFor(modelItem => item.NumeroSerie)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.QuantiteProdNC)
                            </td>
                            <td class="text-center bg-danger">
                                @Html.DisplayFor(modelItem => item.EtatAction.Etat)
                            </td>
                            <td class="text-center smallmedia">
                                <a asp-action="Edit" asp-route-id="@item.NonConformiteId"><img src="~/img/edit-regular.svg" width="25" /></a>
                            </td>

                            <td class="text-center">
                                <a asp-action="Details" asp-route-id="@item.NonConformiteId"><i class="fas fa-eye" style="color : #000000; font-size:2em"></i></a>
                            </td>

                            <td class="text-center smallmedia">
                                <a asp-action="Delete" asp-route-id="@item.NonConformiteId"><img src="~/img/trash-alt-solid.svg" width="20" /></a>
                            </td>
                        </tr>
                    }
                    else if (item.EtatActionId == "En Cours")
                    {
                        <tr class=" @Html.DisplayFor(modelItem => item.EtatAction.Etat)">
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.NumeroNC)
                            </td>
                            <td class="text-center smallmedia mediumMedia">
                                @Html.DisplayFor(modelItem => item.ApplicationAuthUser.Prenom)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.DateNC)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Produit.Reference)
                            </td>

                            <td class="text-center smallmedia">
                                @Html.DisplayFor(modelItem => item.NumeroSerie)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.QuantiteProdNC)
                            </td>
                            <td class="text-center bg-warning">
                                @Html.DisplayFor(modelItem => item.EtatAction.Etat)
                            </td>
                            <td class="text-center smallmedia">
                            </td>

                            <td class="text-center">
                                <a asp-action="Details" asp-route-id="@item.NonConformiteId"><i class="fas fa-eye" style="color : #000000; font-size:2em"></i></a>
                            </td>

                            <td class="text-center smallmedia">
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var archive in Model.ActionNCs)
                        {
                            @foreach (var analyse in Model.AnalyseNCs)
                                if (item.NonConformiteId == analyse.NonConformiteId && analyse.AnalyseId == archive.analyseNCId && archive.Cloture == false)
                                {
                                    <tr class=" @Html.DisplayFor(modelItem => item.EtatAction.Etat)">
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.NumeroNC)
                                        </td>
                                        <td class="text-center smallmedia mediumMedia">
                                            @Html.DisplayFor(modelItem => item.ApplicationAuthUser.Prenom)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DateNC)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Produit.Reference)
                                        </td>

                                        <td class="text-center smallmedia">
                                            @Html.DisplayFor(modelItem => item.NumeroSerie)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.QuantiteProdNC)
                                        </td>
                                        <td class="text-center bg-success">
                                            @Html.DisplayFor(modelItem => item.EtatAction.Etat)
                                        </td>
                                        <td class="text-center smallmedia">
                                        </td>

                                        <td class="text-center">
                                            <a asp-action="Details" asp-route-id="@item.NonConformiteId"><i class="fas fa-eye" style="color : #000000; font-size:2em"></i></a>
                                        </td>
                                        <td class="text-center smallmedia">
                                        </td>
                                    </tr>
                                    @Html.HiddenFor(modelItem => archive.Cloture)
                                }
                        }

                    }


                }


            </tbody>
        </table>
    </div>
</div>

