﻿@model IEnumerable<TrackQuality.Models.AnalyseNC>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">TRAITEMENT DE LA NON-CONFORMITE </h1> <br/>
<h1 class="text-center  mb-5">n° @ViewBag.NumeroNC</h1>


<div class="container col-10 col-md-4 card bg-light shadow border-0 p-4 mx-md-auto mb-4">
    <div class="timeline">
        <!-- timeline time label -->
        <div class="time-label">
            <span class="bg-info">@ViewBag.DateNC</span>
        </div>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <div>
            <i class="fas fa-check bg-green my-3 text-center"></i>
            <div class="timeline-item p-4 my-3 text-bold bg-green">
                Enregistrement Non-Conformité
            </div>
        </div>
        <!-- END timeline item -->
        @if (@ViewBag.Etat == "A traiter")
        {
            <!-- timeline item -->
            <div>
                <i class="fas fa-play bg-yellow"></i>
                <div class="timeline-item">
                    <h3 class="timeline-header bg-yellow text-center">Analyse 5M</h3>
                    <div class="timeline-body px-4">
                        
                            <a asp-controller="AnalyseNCs" asp-action="Create" asp-route-id="@ViewBag.NonConformiteId">
                                <div class="my-1 btn btn-dark text-white mx-auto d-block">
                                    Créer
                                    <i class="fas fa-edit" style="color:#ffffff; font-size:2em"></i>
                                </div>
                            </a>
                       
                        </div>
                    </div>
            </div>
            <!-- END timeline item -->


            <!-- timeline item -->
            <div>
                <i class="fas fa-exclamation-triangle bg-gray-dark my-3"></i>
                <div class="timeline-item my-3">
                    <h3 class="timeline-header bg-gray text-center">Actions</h3>
                    <div class="timeline-body text-center bg-gray">
                        <i class="fas fa-times-circle" style="color:#252424; font-size:2em"></i>
                    </div>
                </div>
                <!-- END timeline item -->

            </div>
        }
        else if (@ViewBag.Etat == "En Cours")
        {
            <div class="time-label">
                <span class="bg-info">@ViewBag.DateAnalyse</span>
            </div>
            <div>
                <i class="fas fa-check bg-green my-3"></i>
                <div class="timeline-item my-3 text-bold  text-center">
                    <h3 class="timeline-header bg-green">Analyse 5M</h3>
                    <div class="timeline-body px-4">
                        <a asp-controller="AnalyseNCs" asp-action="Edit" asp-route-id="@ViewBag.AnalyseId">
                            <div class="my-1 btn btn-dark text-white">
                                Editer
                                <i class="fas fa-edit" style="color:#ffffff; font-size:2em"></i>

                            </div>
                        </a>
                        <a asp-controller="AnalyseNCs" asp-action="Details" asp-route-id="@ViewBag.AnalyseId">
                            <div class="my-1 btn btn-dark text-white">
                                Voir
                                <i class="fas fa-eye" style="color:#ffffff; font-size:2em"></i>
                            </div>
                        </a>
                    </div>
                </div>
                </div>

            <div>
                <i class="fas fa-play bg-yellow"></i>
                <div class="timeline-item">
                    <h3 class="timeline-header bg-yellow text-center">Action</h3>
                    <div class="timeline-body px-4">
                        <a asp-controller="ActionNCs" asp-action="Create" asp-route-id="@ViewBag.AnalyseId">
                            <div class="my-1 btn btn-dark text-white mx-auto d-block">
                                Créer
                                <i class="fas fa-edit" style="color:#ffffff; font-size:2em"></i>
                                </div>
</a>
                    </div>

                </div>
            </div>

        }
        else
        {

            <div class="time-label">
                <span class="bg-info">@ViewBag.DateAnalyse</span>
            </div>
            <div>
                <i class="fas fa-check bg-green my-3"></i>
                <div class="timeline-item p-4 my-3 text-bold bg-green text-center">
                    <a asp-controller="AnalyseNCs" asp-action="Details" asp-route-id="@ViewBag.AnalyseId">
                        <div class="my-1 btn btn-dark text-white">
                            Voir
                            <i class="fas fa-eye" style="color : #ffffff; font-size:2em"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="time-label">
                <span class="bg-info">@ViewBag.DateAction</span>
            </div>
            <div>
                <i class="fas fa-check bg-green my-3"></i>
                <div class="timeline-item p-4 my-3 text-bold bg-green text-center">
                    <a asp-controller="ActionNCs" asp-action="Edit" asp-route-id="@ViewBag.ActionId">
                        <div class="my-1 btn btn-dark text-white">
                            Editer
                            <i class="fas fa-edit" style="color:#ffffff; font-size:2em"></i>

                        </div>
                    </a>
                    <a asp-controller="ActionNCs" asp-action="Details" asp-route-id="@ViewBag.ActionId">
                        <div class="my-1 btn btn-dark text-white">
                            Voir
                            <i class="fas fa-eye" style="color : #ffffff; font-size:2em"></i>
                        </div>
                    </a>
                </div>
            </div>

        }

    </div>
    </div>
<p class="text-center text-md-right mb-5 pr-5">
    <a asp-controller="NonConformites" asp-action="Index" class="btn btn-info">Retour à la liste</a>
</p>
