﻿@model TrackQuality.Models.Produit

@{
    ViewData["Title"] = "CreationProduit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Création de produit</h1>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Create" class="card bg-light shadow border-0 p-4 my-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <img class="mx-auto d-block"src="/img/cube-solid.svg" style="width:10em"/>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-info mx-auto d-block" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="text-center mt-5">
    <a asp-action="Index" class="btn btn-info">Retour à la liste</a>
</div>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
