﻿@model TrackQuality.Models.Produit

@{
    ViewData["Title"] = "EffacerProduit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Suppression</h1>

<h3 class="text-center mb-5">Etes-vous certain de vouloir supprimer ce produit?</h3>

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <div class="card bg-light shadow border-0 p-4 my-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Reference)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Reference)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Prix)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Prix)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ProduitId" />
                <input type="submit" value="Supprimer" class="btn btn-danger mx-auto d-block" />
            </form>
        </div>
    </div>

    <div class="col-md-3"></div>

</div>



    <div class="text-center mt-5">
        <a asp-action="Index" class="btn btn-info">Retour à la liste</a>
    </div>


