﻿@model TrackQuality.Models.Produit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Modification d'un produit</h1>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Edit" class="card bg-light shadow border-0 p-4 my-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProduitId" />
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-info mx-auto d-block" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-5">
    <a asp-action="Index" class="btn btn-info">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
