﻿@model IEnumerable<TrackQuality.Models.Produit>

@{
    ViewData["Title"] = "ListeProduits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center">LISTE DES PRODUITS</h1>

<p class="text-right mb-5 pr-5">
    <a asp-action="Create" class="btn btn-info">+ PRODUIT</a>

    <!-- Button trigger modal -->
    <!--<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
        + PRODUIT
    </button>-->

    <!-- Modal -->
    <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Create" class="card bg-light shadow border-0 p-4 my-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <img class="mx-auto d-block" src="/img/cube-solid.svg" style="width:10em" />
                        <div class="form-group">
                            <label asp-for="Reference" class="control-label"></label>
                            <input asp-for="Reference" class="form-control" />
                            <span asp-validation-for="Reference" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prix" class="control-label"></label>
                            <input asp-for="Prix" class="form-control" />
                            <span asp-validation-for="Prix" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Valider" class="btn btn-info mx-auto d-block" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>-->

</p>
<table class="table table-hover table table-bordered w-75 mx-auto my-5">
    <thead>
        <tr class="bg-info text-white">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th class="text-center">
                Editer
            </th>
            <th class="text-center">
                Supprimer
            </th>
            
        </tr>
    </thead>
    <tbody class="bg-light">
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.ProduitId"><img src="~/img/edit-regular.svg" width="25" /></a> 
            </td>
            <td class="text-center">
                <a asp-action="Delete" asp-route-id="@item.ProduitId"><img src="~/img/trash-alt-solid.svg" width="20" /></a>
            </td>
            
        </tr>
}
    </tbody>
</table>



