﻿/*Surcouche bootstrap pour le responsive des tableaux pour les téléphones*/
@media (max-width: 767.98px) {
    .titre {
        font-size: 2em !important;
    }

    .table {
        width: 50%;
    }

    th,td {
        font-size: 0.7em !important;
    }

    .smallmedia {
        display: none;
    }
}

/*Surcouche bootstrap pour le responsive des tableaux pour les tablettes*/
@media (max-width: 991.98px) {
    .mediumMedia {
        display: none;
    }
    td,th {
        font-size: 0.7em !important;
    }
}

/*Animation des boutons pour les boutons en cours fermer à traiter _IndexSommeNC*/
#total, #aTraiter, #enCours, #fermer, #AddNCList {
    transition: all 200ms linear;
}
    #total:hover, #aTraiter:hover, #enCours:hover, #fermer:hover, #AddNCList:hover {
        transform: scale(0.9);
    }

 /*Background de l'application*/
body {
    background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 60%, #B2FCFF calc(60% + 1px), #B2FCFF 80%, #3E9CFF calc(80% + 1px), #3E9CFF 92%, #3E9CFF calc(92% + 1px), #3E9CFF 100%);
}

a:hover{
    text-decoration: none;
}

.page-link ::before {
    background-color:red;

}

/*Ligne tableau plus étroite*/

#tab td{
    padding: 0.2em;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.page-link {
    color: #17a2b8;
}


