﻿@model TrackQuality.Models.ActionNC

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info">
            <div class="card-header">
                <h4 class="card-title">N° Non Conformite:<span class="ml-4 text-bold"> @ViewBag.NumeroNC</span> </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="display:block;">

                <div class="d-flex flex-row justify-content-around">

                    <div>
                        <table>
                            <tr>
                                <th scope="row" class="p-2">
                                    Référence:
                                </th>
                                <td class="p-2">
                                    @ViewBag.Produit
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Numéro de série:
                                </th>
                                <td class="p-2">
                                    @ViewBag.NumeroSerie
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Quantité:
                                </th>
                                <td class="p-2">
                                    @ViewBag.Quantite
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Description:
                                </th>
                                <td class="p-2">
                                    @ViewBag.DescriptionNC
                                </td>
                            <tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Ouverte par
                                </th>
                                <td class="p-2">
                                    @ViewBag.Nom @ViewBag.Prenom
                                </td>
                            </tr>
                            <tr>

                                <th scope="row" class="p-2">
                                    Date
                                </th>
                                <td class="p-2">
                                    @ViewBag.DateNC

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr class="text-left">
                                <th scope="row">
                                    Photo:
                                </th>
                                <td>
                                    <img src="~/images/@ViewBag.Photo" width="300" />
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info ">
            <div class="card-header">
                <h4 class="card-title">Analyse </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="display:block;">

                <div class="d-flex flex-row justify-content-around">

                    <div>
                        <table>
                            <tr>
                                <th scope="row" class="p-2">
                                    Main d'oeuvre:
                                </th>
                                <td class="p-2">
                                    @ViewBag.MainDOeuvre
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Milieu:
                                </th>
                                <td class="p-2">
                                    @ViewBag.Milieu
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Matière:
                                </th>
                                <td class="p-2">
                                    @ViewBag.Matiere
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Méthode:
                                </th>
                                <td class="p-2">
                                    @ViewBag.Methode
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Matériel:
                                </th>
                                <td class="p-2">
                                    @ViewBag.Materiel
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Imputation:
                                </th>
                                <td class="p-2">
                                    @ViewBag.Imputation
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="col-2"></div>
</div>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
        <div class="card card-info mb-4">
            <div class="card-header">
                <h4 class="card-title text-center">Actions </h4>
            </div>
            <form asp-action="Create" class="card-body px-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DescriptionAction" class="control-label"></label>
                    <textarea asp-for="DescriptionAction" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="DescriptionAction" class="text-danger"></span>
                </div>
                @Html.HiddenFor(Model => Model.Cloture, new { @id="inputCloture", @value = false })

                <div class="form-group">
                    <input type="submit" value="ENREGISTRER" class="btn btn-info mx-auto d-block" />

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                        Clôturer
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation de clôture de l'@ViewBag.NumeroNC</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Souhaitez-vous vraiment clôturer cette non-conformité? <br/>
                                    
                                    <small class="text-danger"><i class="fas fa-exclamation-triangle"></i>Vous ne pourrez plus la modifier</small>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <button type="submit" id="submitConfirmCloture" class="btn btn-primary">Confirmer la clôture</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="card-footer text-center">
                <div>

                        <a class="btn btn-info" asp-controller="NonConformites" asp-action="Index">Retour à la liste</a>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    </div>


