﻿@model TrackQuality.ViewModels.AnalyseActionByNCViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info">
            <div class="card-header">
                <h4 class="card-title">N° Non Conformite:<span class="ml-4 text-bold"> @Model.NonConformite.NumeroNC</span> </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body" style="display:block;">

                <div class="d-flex flex-column flex-md-row justify-content-between">

                    <div>
                        <table>
                            <tr>
                                <th scope="row" class="p-2">
                                    Référence:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.Produit.Reference)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Numéro de série:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.NumeroSerie)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Quantité:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.QuantiteProdNC)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Description:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.DescriptionNC)
                                </td>
                            <tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Ouverte par
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.ApplicationAuthUser.Nom)
                                    @Html.DisplayFor(model => model.NonConformite.ApplicationAuthUser.Prenom)
                                </td>
                            </tr>
                            <tr>

                                <th scope="row" class="p-2">
                                    Date
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.DateNC)

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="">
                        <table>
                            <tr class="text-left">
                                <th scope="row">
                                    Photo:
                                </th>
                                <td>
                                    <img src="~/images/@Model.NonConformite.PhotoNC" width="300" />
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info ">
            <div class="card-header">
                <h4 class="card-title">Analyse </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="display:block;">

                <div class="d-flex flex-row justify-content-start">

                    <div>
                        <table>
                            <tr>
                                <th scope="row" class="p-2">
                                    Main d'oeuvre:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.MainDOeuvre)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Milieu:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.Milieu)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Matière:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.Matiere)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Méthode:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.Methode)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Matériel:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.Materiel)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Imputation:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.ImputationId)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info ">
            <div class="card-header">
                <h4 class="card-title">Actions </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="display:block;">

                <div class="d-flex flex-row justify-content-start">

                    <div>
                        <table>
                            <tr>
                                <th scope="row" class="p-2">
                                    @Html.DisplayNameFor(model => model.ActionNC.DescriptionAction)
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.ActionNC.DescriptionAction)
                                </td>
                                @if (Model.NonConformite.QtRebute > 0)
                                {
                                    <th scope="row" class="p-2">
                                        @Html.DisplayNameFor(model => model.NonConformite.QtRebute)
                                    </th>
                                    <td class="p-2">                                        
                                        @Html.DisplayFor(model => model.NonConformite.QtRebute)
                                    </td>
                                }

                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    @Html.DisplayNameFor(model => model.ActionNC.DateAction)
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.ActionNC.DateAction)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <div class="card-footer text-center">
                @if (Model.ActionNC.Cloture == false && User.IsInRole("Qualité"))
                {
                    <a class="btn btn-info my-2" asp-controller="NonConformites" asp-action="Index">Retour à la liste</a>
                }
                else if (Model.ActionNC.Cloture == true && User.IsInRole("Qualité"))
                {
                    <a class="btn btn-info my-2" asp-controller="NonConformites" asp-action="Archive">Retour à la liste</a>

                }
                else if (Model.ActionNC.Cloture == true && User.IsInRole("Opérateur"))
                {
                    <a class="btn btn-info my-2" asp-controller="NonConformites" asp-action="ArchiveUser">Retour à la liste</a>
                }
            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

