﻿@model TrackQuality.ViewModels.AnalyseActionByNCViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info">
            <div class="card-header">
                <h4 class="card-title">N° Non Conformite:<span class="ml-4 text-bold"> @Model.NonConformite.NumeroNC</span> </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body" style="display:block;">

                <div class="d-flex flex-column flex-md-row justify-content-between">

                    <div>
                        <table>
                            <tr>
                                <th scope="row" class="p-2">
                                    Référence:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.Produit.Reference)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Numéro de série:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.NumeroSerie)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Quantité:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.QuantiteProdNC)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Description:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.DescriptionNC)
                                </td>
                            <tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Ouverte par
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.ApplicationAuthUser.Nom)
                                    @Html.DisplayFor(model => model.NonConformite.ApplicationAuthUser.Prenom)
                                </td>
                            </tr>
                            <tr>

                                <th scope="row" class="p-2">
                                    Date
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.NonConformite.DateNC)

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="">
                        <table>
                            <tr class="text-left">
                                <th scope="row">
                                    Photo:
                                </th>
                                <td>
                                    <img src="~/images/@Model.NonConformite.PhotoNC" width="300" />
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8 ">
        <div class="card card-info ">
            <div class="card-header">
                <h4 class="card-title">Analyse </h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="display:block;">

                <div class="d-flex flex-row justify-content-start">

                    <div>
                        <table>
                            <tr>
                                <th scope="row" class="p-2">
                                    Main d'oeuvre:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.MainDOeuvre)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Milieu:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.Milieu)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Matière:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.Matiere)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Méthode:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.Methode)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Matériel:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.Materiel)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-2">
                                    Imputation:
                                </th>
                                <td class="p-2">
                                    @Html.DisplayFor(model => model.AnalyseNC.ImputationId)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>


<div class="row" id="action">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
        <div class="card card-info  mb-4">
            <div class="card-header">
                <h4 class="card-title text-center">Actions </h4>
            </div>
            <form asp-action="Edit" class="card-body px-md-4" id="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.ActionNC.ActionId" />
                <input type="hidden" asp-for="@Model.ActionNC.analyseNCId" />
                <input type="hidden" asp-for="@Model.NonConformite.NonConformiteId" />
                <input type="hidden" asp-for="@Model.NonConformite.NumeroNC" />
                <input type="hidden" asp-for="@Model.NonConformite.QuantiteProdNC" />
                <input type="hidden" asp-for="@Model.NonConformite.ProduitId" />
                <input type="hidden" asp-for="@Model.NonConformite.NumeroSerie" />
                <input type="hidden" asp-for="@Model.NonConformite.EtatActionId" />
                <input type="hidden" asp-for="@Model.NonConformite.DescriptionNC" />
                <input type="hidden" asp-for="@Model.NonConformite.ApplicationAuthUserId" />
                <input type="hidden" asp-for="@Model.NonConformite.PhotoNC" />
                <input type="hidden" asp-for="@Model.NonConformite.DateNC" />

                <div class="form-group">
                    <label asp-for="@Model.ActionNC.DescriptionAction" class="control-label"></label>
                    <textarea asp-for="@Model.ActionNC.DescriptionAction" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="@Model.ActionNC.DescriptionAction" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NonConformite.QtRebute" class="control-label"></label>
                    @Html.EditorFor(Model => Model.NonConformite.QtRebute)
                    <span asp-validation-for="@Model.NonConformite.QtRebute" class="text-danger"></span>
                </div>
                @Html.HiddenFor(Model => Model.ActionNC.Cloture, new { @id = "inputClotureEdit", @value = false })

                <div class="form-group text-center">
                    <input type="submit" value="Enregistrer" class="btn btn-info mx-auto d-block" />
                    <div class="">OU</div>

                    <!-- Button trigger modal -->

                    <button type="button" class="btn btn-info mx-auto d-block" data-toggle="modal" data-target="#exampleModal">
                        Clôturer et Enregistrer
                    </button>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation de clôture de l'@Model.NonConformite.NumeroNC </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Souhaitez-vous vraiment clôturer cette non-conformité? <br />

                                    <small class="text-danger"><i class="fas fa-exclamation-triangle"></i>Vous ne pourrez plus la modifier</small>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <button type="submit" id="submitConfirmClotureInEdit" class="btn btn-primary">Confirmer la clôture</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="card-footer text-center">
                <div>

                    <a class="btn btn-info" asp-controller="NonConformites" asp-action="Index">Retour à la liste</a>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


